/* css varibles */

:root {
  --white: #ffffff;
  --white-75: #ffffff75;
  --white-66: #ffffff66;
  --white-50: #ffffff50;
  --white-33: #ffffff33;
  --white-25: #ffffff25;
  
  --black: #14161B;
  --black-75: #14161B75;
  --black-66: #14161B66;
  --black-50: #14161B50;
  --black-33: #14161B33;
  --black-25: #14161B25;

  --base: #2A2B2F;

  --layer: #38393E;
  --hover: #3F4046;
  --stroke: #46474E;
  --pressed: #494B52;
  --highlight: #54555D;

  --yellow_light: #F1CC06;
  --yellow_medium: #DBBA08;
  --yellow_dark: #C5A70A;

  --green_light: #7FAC3A;
  --green_medium: #759D37;
  --green_dark: #6A8E33;
}

/* global styles */

body {
  color: var(--white);
  background-color: var(--base);
  margin: 0;
  padding: 0 0 144px 0;
  font-family: Quicksand, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

#tint {
  z-index: 50;
  pointer-events: none;
  position: fixed;
  left: 0; top: 0; bottom: 0; right: 0;
  background: linear-gradient(180deg, #262521 0%, #9881F2 100%);
  opacity: 0.25;
}

/* default scene settings */

#scene_decks {display: none}
#scene_add_item {display: none;}

/* card styles */

.card_snippet_wrapper {
  border-radius: 9px;
  border-left: 3px solid var(--green_light);
  overflow: hidden;
}

.card_snippet_question {
  padding: 18px;
  background-color: #363941;
  border-top: 2px solid #41444B;
  border-right: 2px solid #41444B;
  border-left: 2px solid #41444B;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
}

.card_snippet_answer {
  padding: 18px;
  background-color: #363941;
  border-top: 2px solid #41444B;
  border-right: 2px solid #41444B;
  border-bottom: 2px solid #41444B;
  border-left: 2px solid #41444B;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff66;
}

.card_snippet_question:empty::before,
.card_snippet_answer:empty::before {
  content: attr(data-placeholder);
  color: #9aa0a6;
  pointer-events: none;
}

.card_snippet_question:focus-visible,
.card_snippet_answer:focus-visible {
outline: none;
}

/* deck styles */

.deck_list {
  border-top: 2px solid var(--stroke);
  border-left: 2px solid var(--stroke);
  border-right: 2px solid var(--stroke);
  border-radius: 9px;
  overflow: hidden;
}

.deck_list_title {
  color: var(--white-75);
}

.deck_snippet_wrapper {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  background-color: var(--layer);
  border-bottom: 2px solid var(--stroke);
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-left: 18px;
  padding-right: 15px;
  display: flex;
}

.deck_snippet_wrapper:hover {
  background-color: var(--hover);
}

.deck_snippet_wrapper:active {
  background-color: var(--pressed);
}

.deck_snippet_type {
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 0 auto;
  width: 100%;
  font-size: 15px;
  overflow: hidden;
  text-transform: capitalize;
}

.deck_snippet_icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
  color: var(--white-50);
}

.deck_snippet_button {
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
  color: var(--white);
  background-color: var(--pressed);
  border-radius: 9px;
}

.deck_snippet_count {
  color: var(--white-50);
}

.deck_snippet_count_wrapper {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  flex-flow: row;
  flex: none;
  width: 66px;
  display: flex;
}

.decks_wrapper {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: column;
  padding: 24px 24px 0;
  display: flex;
  max-width: 600px;
  margin: 0 auto;
}

/* header styles */

.header_wrapper {
  z-index: 60;
  position: relative;
  background-color: var(--layer);
  border-bottom: 2px solid var(--stroke);
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  height: 60px;
  display: flex;
}

.header_title {
  color: var(--white-50);
  text-align: center;
  font-size: 24px;
}

/* summary styles */

.summary_wrapper {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: column;
  padding: 24px 24px 0;
  display: flex;
  max-width: 600px;
  margin: 0 auto;
}

.summary_title {
  color: var(--white-75);
}

.metrics_column {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  flex-flow: column;
  display: flex;
}

.metrics_row {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  flex-flow: wrap;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: flex;
}

.metric {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  background-color: var(--layer);
  border: 2px solid var(--stroke);
  border-radius: 9px;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 18px;
  display: flex;
}

.metric:hover {
  background-color: var(--hover);
}

.metric:active {
  background-color: var(--pressed);
}

.metric_data {
  font-size: 18px;
}

.metric_label {
  opacity: .5;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  overflow: hidden;
}

.metric_icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  color: var(--yellow_light);
}

/* sync status */

.synced_status_wrapper {
  justify-content: center;
  align-items: center;
  height: 48px;
  display: flex;
}

.synced_status_label {
  color: var(--white-33);
  font-size: 12px;
}

/* fixed actions */

.floating_action_button {
  background-color: var(--green_light);
  border-radius: 9px;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  display: flex;
  box-shadow: inset 0 -3px #00000040;
}

.floating_action_button:hover {
  background-color: var(--green_medium);
}

.floating_action_button:active {
  background-color: var(--green_dark);
}

.floating_action_button_icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  color: white;
}

.fixed_buttons {
  position: fixed;
  z-index: 60;
  bottom: 0;
  left: 0;
  right: 0;
}

.bottom_bar_wrapper {
  background-color: var(--layer);
  border-top: 2px solid var(--stroke);
  padding: 12px 24px;
}

.button_primary {
  grid-column-gap: 9px;
  grid-row-gap: 9px;
  background-color: var(--yellow_light);
  border-radius: 9px;
  justify-content: center;
  align-items: center;
  height: 54px;
  display: flex;
  box-shadow: inset 0 -3px #00000040;
}

.button_primary:hover {
  background-color: var(--yellow_medium);
}

.button_primary:active {
  background-color: var(--yellow_dark);
}

.button_primary_label {
  color: var(--black);
  text-align: center;
  font-size: 18px;
}

.button_primary_icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
  color: var(--black)
}

.floating_buttons {
  justify-content: flex-end;
  align-items: flex-start;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

/* form styles */

.custom_form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0 auto;
  padding: 24px;
  max-width: 600px;
}

.custom_form label {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.custom_form input {
  width: 100%;
  height: 54px;
  box-sizing: border-box;
  padding: 12px;
}

.custom_form button {
  width: 100%;
  height: 54px;
  box-sizing: border-box;
}

.is_admin_only {
  display: none;
}

.simple_header {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  display: flex;
}

.simple_header_button {
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  color: var(--white);
  font-size: 15px;
  line-height: 15px;
  background-color: var(--layer_one);;
  border-radius: 9px;
}

.simple_header_button:hover {
  background-color: var(--layer_one_hover);
}

.simple_header_button:active {
  background-color: var(--layer_two);
}

.simple_header_title {
  color: var(--white);
  text-align: center;
  flex: 0 auto;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}