/* --------------------------------------------------------- */
/* GLOBALS */
/* --------------------------------------------------------- */

body {
  color: var(--white);
  background-color: var(--base);
  margin: 0;
  font-family: Quicksand, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.1px;
}

#tint {
  z-index: 50;
  position: fixed;
  left: 0; top: 0; bottom: 0; right: 0;
  background: linear-gradient(180deg, #262521 0%, #9881F2 100%);
  opacity: 0.15;
  pointer-events: none;
}

.dev_menu_visible {
  display: block;
}

.dev_menu_hidden {
  display: none;
}

.content {
  margin-top: 60px;
}

.scene {
  display: none;
}

:root {
  --white: #ffffff;
  --white-75: #ffffff75;
  --white-66: #ffffff66;
  --white-50: #ffffff50;
  --white-33: #ffffff33;
  --white-25: #ffffff25;
  --white-3: #ffffff03;
  --white-6: #ffffff06;
  --white-9: #ffffff09;
  --white-12: #ffffff12;
  --white-15: #ffffff15;
  --white-18: #ffffff18;
  
  --black: #14161B;
  --black-75: #14161B75;
  --black-66: #14161B66;
  --black-50: #14161B50;
  --black-33: #14161B33;
  --black-25: #14161B25;

  --base: #2A2B2F;

  --layer: #38393E;
  --hover: #3F4046;
  --stroke: #46474E;
  --pressed: #494B52;
  --highlight: #54555D;

  --green_light: #7FAC3A;
  --green_medium: #759D37;
  --green_dark: #6A8E33;

  --blue_light: #43ACD9;
  --blue_medium: #3E9DC7;
  --blue_dark: #3A8EB3;

  --yellow_light: #F6DA39;
  --yellow_medium: #E0C736;
  --yellow_dark: #C9B233;

  --orange_light: #EE8343;
  --orange_medium: #D9783F;
  --orange_dark: #C26D3B;

  --red_light: #C34A3F;
  --red_medium: #B2453C;
  --red_dark: #A03F37;
}



/* Remove Scrollbar for all engines */
html, body {
  -ms-overflow-style: none;   /* IE */
  scrollbar-width: none;      /* Firefox */
}

/* Remove Scrollbar for WebKit browsers, including Chrome */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* --------------------------------------------------------- */
/* HEADERS */
/* --------------------------------------------------------- */

.header_primary {
  z-index: 90;
  position: fixed; top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: var(--base);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.header_primary_title {
  color: var(--white);
  text-align: center;
  font-size: 21px;
}

.secondary_header {
  z-index: 90;
  position: fixed; top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  left: 0;
  right: 0;
  height: 60px;
  padding: 0 18px;
  background-color: var(--base);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.secondary_header_title {
  font-size: 18px;
  text-align: center;
  color: var(--white);
  height: 36px;
  border-radius: 9px;
  line-height: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: none;
  cursor: pointer;
}

.secondary_header_title:hover {
background: var(--pressed);
padding: 0 12px;
}

/* --------------------------------------------------------- */
/* SECTIONS */
/* --------------------------------------------------------- */

.section_search {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 24px 18px 0px 18px;
}

/* --------------------------------------------------------- */
/* CONTROLS */
/* --------------------------------------------------------- */

.input_search {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
  width: 100%;
  height: 48px;
  color: rgba(255, 255, 255, 0.50);
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: 9px;
  cursor: pointer;
  box-sizing: border-box;
}

.input_search:hover {
  background-color: rgba(255, 255, 255, 0.09);
}

.input_search:active {
  background-color: rgba(255, 255, 255, 0.12);
}

/* --------------------------------------------------------- */
/* BUTTONS */
/* --------------------------------------------------------- */

.button_primary {
  z-index: 60;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 54px;
  font-family: inherit;
  font-weight: inherit;
  font-size: 15px;
  color: white;
  text-align: center;
  background-color: var(--green_light);
  border: none;
  border-radius: 9px;
  box-shadow: inset 0 -2px #00000033;
  cursor: pointer;
}

.button_primary:hover {
  background-color: var(--green_medium);
}

.button_primary:active {
  background-color: var(--green_dark);
}

.button_floating {
  z-index: 60;
  position: fixed;
  right: 24px;
  bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 54px;
  height: 54px;
  font-family: inherit;
  font-weight: inherit;
  font-size: 18px;
  color: white;
  text-align: center;
  background-color: var(--green_light);
  border: none;
  border-radius: 54px;
  box-shadow: inset 0 -2px #00000033;
  cursor: pointer;
}

.button_floating:hover {
  background-color: var(--green_medium);
}

.button_floating:active {
  background-color: var(--green_dark);
}

.btn_ghost {
  z-index: 60;
  position: relative;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 36px;
  height: 36px;
  color: white; 
  font-size: 15px;
  font-family: inherit;
  font-weight: inherit;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: 9px;
  text-decoration: none;
  cursor: pointer;
}

.btn_ghost:hover {
  background-color: rgba(255, 255, 255, 0.09);
}

.btn_ghost:active {
  background-color: rgba(255, 255, 255, 0.12);
}

.dropdown_wrapper {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.dropdown_button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.03);
  border-radius: 9px;
  cursor: pointer;
}

.dropdown_button:hover {
  background-color: rgba(255, 255, 255, 0.06);
}

.dropdown_button:active {
  background-color: rgba(255, 255, 255, 0.09);
}

.dropdown_wrapper:focus-within .dropdown_menu {
  display: flex;
}

.dropdown_menu {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--stroke);
  border: 1px solid var(--highlight);
  border-radius: 9px;
  top: 42px;
  overflow: hidden;
}

.dropdown_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 120px;
  height: 42px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: var(--stroke);
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
}

.dropdown_item:hover {
  background-color: var(--pressed);
}

.dropdown_item:active {
  background-color: var(--highlight);
}

.dropdown_divider {
  height: 1px;
  width: 100%;;
  margin: 6px 0 6px 0;
  background-color: var(--highlight);
}

.btn_hidden {
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
  color: rgba(255, 255, 255, 0.50);
  font-family: inherit;
  font-weight: inherit;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.00);
  border-radius: 9px;
  border: none;
  cursor: pointer;
}

.btn_hidden:hover {
  background-color: rgba(255, 255, 255, 0.09);
}

.btn_hidden:active {
  background-color: rgba(255, 255, 255, 0.12);
}

.btn_hidden, #btn_toggle_modes_on {display: flex;}
.btn_hidden, #btn_toggle_modes_off {display: none;}

.modes_list, #list_study_modes {
  display: none;
  flex-direction: column;
  gap: 9px;
  margin-bottom: 12px;
}

.button_mode {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5px;
  margin: 0;
  padding: 0 15px;
  width: 100%;
  height: 60px;
  font-family: inherit;
  font-weight: inherit;
  font-size: 12px;
  color: white;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 9px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.button_mode:hover {
  background-color: rgba(255, 255, 255, 0.09);
}

.button_mode:active {
  background-color: rgba(255, 255, 255, 0.12);
}

.study_mode_description {
  color: rgba(255, 255, 255, 0.50);
}

/* --------------------------------------------------------- */
/* COMPONENTS */
/* --------------------------------------------------------- */

.synced_status_wrapper {
  justify-content: center;
  align-items: center;
  height: 72px;
  display: flex;
}

.synced_status_label {
  color: rgba(255, 255, 255, 0.33);
  font-size: 12px;
}

.primary_section {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 24px 18px 0px 18px;
  max-width: 600px;
  margin: 0 auto;
}

.deck_status_wrapper {
  justify-content: center;
  align-items: center;
  height: 48px;
  display: flex;
}

.deck_status_label {
  color: rgba(255, 255, 255, 0.50);
  font-size: 12px;
}

/* --------------------------------------------------------- */
/* DECKS */
/* --------------------------------------------------------- */

.section_decks {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    flex-flow: column;
    padding: 12px 18px 0px 18px;
    display: flex;
    max-width: 600px;
    margin: 0 auto;
}

.title_decks {
  color: var(--white);
}

.decks_outer {
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  border-left: 1px solid rgba(255, 255, 255, 0.12);
  border-right: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 9px;
  overflow: hidden;
}

.decks_inner {
  display: flex;
  flex-direction: column;
}

.deck_snippet_wrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  background-color: rgba(255, 255, 255, 0.06);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  cursor: pointer;
}

.deck_snippet_wrapper:hover {
  background-color: rgba(255, 255, 255, 0.09);
}

.deck_snippet_wrapper:active {
  background-color: rgba(255, 255, 255, 0.12);
}

.deck_snippet_button_wrapper {
  display: flex;
  flex-flow: row;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  height: 100%;
  padding-right: 15px;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
}

.deck_snippet_textcontent {
  display: flex;
  flex-direction: column;
  gap: 3px;
  flex: 1;
  overflow: hidden;
}

.deck_snippet_name {
  flex: 0 auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  font-size: 15px;
  overflow: hidden;
  color: var(--white);
}

.deck_snippet_count {
  color: rgba(255, 255, 255, 0.50);
  flex: 0 auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  font-size: 12px;
  line-height: 15px;;
  overflow: hidden;
}

.deck_snippet_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  width: 24px;
  height: 24px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.33);
}

.deck_snippet_toggle_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.deck_snippet_toggle_wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.deck_snippet_custom_checkbox_off {
  z-index: 60;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.12);
}

.deck_snippet_toggle_wrapper:hover input ~ .deck_snippet_custom_checkbox_off {
  color: rgba(255, 255, 255, 0.15);
}

.deck_snippet_toggle_wrapper:active input ~ .deck_snippet_custom_checkbox_off {
  color: rgba(255, 255, 255, 0.18);
}

.deck_snippet_toggle_wrapper input:checked ~ .deck_snippet_custom_checkbox_off {
  display: none;
}

.deck_snippet_custom_checkbox_on {
  z-index: 60;
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 24px;
  color: var(--green_light);
}

.deck_snippet_toggle_wrapper:hover input ~ .deck_snippet_custom_checkbox_on {
  color: var(--green_medium);
}

.deck_snippet_toggle_wrapper:active input ~ .deck_snippet_custom_checkbox_on {
  color: var(--green_dark);
}

.deck_snippet_toggle_wrapper input:checked ~ .deck_snippet_custom_checkbox_on {
  display: flex;
}

.deck_snippet_wrapper.dragging {
  opacity: 0.25;
}

.deck_snippet_wrapper.drop-above {
    border-top: 12px solid var(--base);
}

.deck_snippet_wrapper.drop-below {
    border-bottom: 12px solid var(--base);
}

/* --------------------------------------------------------- */
/* CARDS */
/* --------------------------------------------------------- */

.dynamic_list_cards {
  display: flex;
  gap: 12px;
  flex-flow: column;
  padding: 6px 18px 18px 18px;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.card_snippet_wrapper {
  border-radius: 9px;
}

.card_snippet_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
  height: 54px;
  padding-left: 18px;
  padding-right: 9px;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 9px 9px 0 0;
}

.card_snippet_label {
  flex-grow: 1;
  color: rgba(255, 255, 255, 0.25);
}

.card_snippet_question {
  padding: 18px;
  background-color: rgba(255, 255, 255, 0.06);
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  border-right: 1px solid rgba(255, 255, 255, 0.06);
  border-left: 1px solid rgba(255, 255, 255, 0.06);
  font-size: 15px;
  color: var(--white);
}

.card_snippet_question:focus {
  background-color: rgba(255, 255, 255, 0.12);
}

.card_snippet_answer {
  padding: 18px;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-right: 1px solid rgba(255, 255, 255, 0.06);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  border-left: 1px solid rgba(255, 255, 255, 0.06);
  font-size: 15px;
  color: rgba(255, 255, 255, 0.75);
  border-radius: 0 0 9px 9px;
}

.card_snippet_answer:focus {
  background-color: rgba(255, 255, 255, 0.12);
}

.card_snippet_question:empty::before,
.card_snippet_answer:empty::before {
  content: attr(data-placeholder);
  color: rgba(255, 255, 255, 0.33);
  pointer-events: none;
}

.card_snippet_question:focus-visible,
.card_snippet_answer:focus-visible {
outline: none;
}

/* --------------------------------------------------------- */
/* SUMMARY */
/* --------------------------------------------------------- */

.summary_wrapper {
  display: flex;
  flex-flow: column;
  gap: 12px;
  max-width: 600px;
  padding: 24px 18px 0 18px;
  margin: 0 auto;
}

.summary_title {
  color: var(--white);
}

.metrics_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6px;
  width: 100%;
}

.metric {
  display: flex;
  flex-flow: row;
  gap: 6px;
  min-width: 0;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 15px;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: 9px;
  padding: 12px 18px;
}

.metric:hover {
  background-color: rgba(255, 255, 255, 0.09);
}

.metric:active {
  background-color: rgba(255, 255, 255, 0.12);
}

.metric_content {
  flex: 1 1 auto;
  min-width: 0;
}

.metric_data {
  flex: 1 1 auto;
  min-width: 0;
  font-size: 18px;
  line-height: 24px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.metric_label {
  flex: 1 1 auto;
  min-width: 0;
  font-size: 12px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.50);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.metric_icon {
  flex: 0 0 auto;
  width: 18px;
  height: 18px;
  font-size: 18px;
  color: var(--yellow_light);
}

/* --------------------------------------------------------- */
/* STUDY */
/* --------------------------------------------------------- */

.studycard_wrapper {
  display: flex;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  flex-flow: column;
  justify-content: space-between;
  max-width: 600px;
  min-height: calc(100vh - 96px);
  margin-left: auto;
  margin-right: auto;
  padding: 78px 18px 18px 18px;
  position: relative;
}

.studycard_snippet {
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: 9px;
  flex-flow: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: inset 0 2px var(--green_light);
}

.studycard_question {
  display: flex;
  flex-flow: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 36px;
  width: 100%;
  box-sizing: border-box;
}

.studycard_answer {
  display: none;
  flex-flow: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 24px;
  width: 100%;
  border-top: 1px solid var(--stroke);
  box-sizing: border-box;
}

.studycard_content {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.studycard_instructions {
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  height: 42px;
  color: rgba(255, 255, 255, 0.50);
  text-align: center;
  font-size: 12px;
}

.studycard_ratings {
  z-index: 60;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  gap: 9px;
}

.button_rating {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 54px;
  width: 100%;
  font-size: 24px;
  color: var(--white-50);
  border-radius: 9px;
  box-shadow: inset 0 -2px #00000040;
}

.button_rating.blue {background: var(--blue_light);}
.button_rating.blue:hover {background: var(--blue_medium);}
.button_rating.blue:active {background: var(--blue_dark);}

.button_rating.green {background: var(--green_light);}
.button_rating.green:hover {background: var(--green_medium);}
.button_rating.green:active {background: var(--green_dark);}

.button_rating.yellow {background: var(--yellow_light);}
.button_rating.yellow:hover {background: var(--yellow_medium);}
.button_rating.yellow:active {background: var(--yellow_dark);}

.button_rating.orange {background: var(--orange_light);}
.button_rating.orange:hover {background: var(--orange_medium);}
.button_rating.orange:active {background: var(--orange_dark);}

.button_rating.red {background: var(--red_light);}
.button_rating.red:hover {background: var(--red_medium);}
.button_rating.red:active {background: var(--red_dark);}

/* --------------------------------------------------------- */
/* SEARCH */
/* --------------------------------------------------------- */

.section_search {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px 18px 0px 18px;
  margin: 0 auto;
  max-width: 600px;
  height: 48px;
}

.section_results {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px 18px 0px 18px;
  margin: 0 auto;
  max-width: 600px;
}

.dynamic_list_results {
  display: flex;
  gap: 12px;
  flex-flow: column;
  margin-bottom: 48px;
}

.searchbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 0 6px;
  width: 100%;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: 9px;
  box-sizing: border-box;
}

.search_input {
  position: relative;
  padding-left: 9px;
  width: 100%;
  height: 48px;
  color: white;
  font-size: 15px;
  line-height: 48px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.search_input[contenteditable] {
  cursor: text;
}

.searchbar:hover {
  background-color: rgba(255, 255, 255, 0.09);
}

.searchbar:active {
  background-color: rgba(255, 255, 255, 0.12);
}

.searchbar:focus-within {
  background-color: rgba(255, 255, 255, 0.12);
}

.search_input:empty::before {
  content: attr(data-placeholder);
  color: rgba(255, 255, 255, 0.50);
  font-family: Quicksand, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.1px;
  pointer-events: none;
}

.search_input:not(:empty) + .search_btn {
  display: flex;
}

.search_btn {
  position: relative;
  flex: 0 0 auto;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 36px;
  height: 36px;
  font-size: 15px;
  line-height: 36px;
  text-align: center;
  vertical-align: middle;
  color: white;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: 9px;
  cursor: pointer;
}

.search_btn:hover {
  background-color: rgba(255, 255, 255, 0.09);
}

.search_btn:active {
  background-color: rgba(255, 255, 255, 0.12);
}

/* --------------------------------------------------------- */
/* dialog */
/* --------------------------------------------------------- */

.dialog_wrapper {
  z-index: 100;
  position: fixed;
  top: 0;  right: 0;  left: 0;  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 18px;
  /* background-color: rgba(255, 255, 255, 0.33); */
  background-color: rgba(0, 0, 0, 0.66);
}

.dialog_bg {
  z-index: 10;
  position: absolute;
  top: 0;  right: 0;  left: 0;  bottom: 0;
}

.dialog {
  z-index: 90;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin: 0 auto;
  padding: 36px 48px;
  width: 100%; max-width: 600px;
  height: auto;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 9px;
  background-image:
  linear-gradient(rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.06)),
  linear-gradient(rgba(42, 43, 47), rgba(42, 43, 47));
}

.dialog_section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.dialog_title {
  color: white;
  font-size: 15px;
  text-align: center;
}

.dialog_input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; max-width: 300px;
  height: 108px;
  color: rgba(255, 255, 255, 0.25);
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.09);
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 6px;
}

.dialog_input::before {
  content: attr(data-placeholder);
}

.dialog_input:focus {
  outline: 2px solid #7FAC3A;
}

.dialog_subtitle {
  color: rgba(255, 255, 255, 0.66);
  font-size: 12px;
  text-align: center;
  line-height: 15px;
}

.dialog_hint {
  color: rgba(255, 255, 255, 0.33);
  font-size: 12px;
  text-align: center;
  line-height: 15px;
}

.dialog_graphic {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; max-width: 300px;
  border-radius: 3px;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  border-left: 1px solid rgba(255, 255, 255, 0.12);
}

.dialog_graphic_row {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dialog_graphic_cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 36px;
  color: rgba(255, 255, 255, 0.50);
  font-size: 12px;
  text-align: center;
  line-height: 15px;
  background-color: rgba(255, 255, 255, 0.06);
  border-right: 1px solid rgba(255, 255, 255, 0.06);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.dialog_graphic_row.top {opacity: 1}
.dialog_graphic_row.middle {opacity: 0.7}
.dialog_graphic_row.bottom {opacity: 0.4}

/* --------------------------------------------------------- */
/* Login */
/* --------------------------------------------------------- */

.login_wrapper {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
}

.login_image {
  display: block;
  position: relative;
  width: 96px;
  height: 96px;
  background-image: url("assets/favicon.svg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
}

.login_form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  width: 100%; max-width: 600px;
  padding: 36px 18px;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: 9px;
}

.login_title {
  position: relative;
  width: 100%; max-width: 300px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}

.login_input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%; max-width: 300px;
  height: 48px;
  color: white;
  font-family: inherit;
  font-weight: inherit;
  line-height: 24px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: 9px;
}

.login_input:hover {
  background-color: rgba(255, 255, 255, 0.09);
}

.login_input:active {
  background-color: rgba(255, 255, 255, 0.12);
}

.login_input:focus {
  outline: none;
  border: 1px solid #7FAC3A;
  background-color: rgba(255, 255, 255, 0.12);
}

.login_button {
  z-index: 60;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%; max-width: 300px;
  height: 48px;
  font-family: inherit;
  font-weight: inherit;
  font-size: 15px;
  color: white;
  text-align: center;
  background-color: #7FAC3A;
  border: none;
  border-radius: 9px;
  box-shadow: inset 0 -2px #00000033;
  cursor: pointer;
}

.login_button:hover {
  background-color: #759D37;
}

.login_button:active {
  background-color: #6A8E33;
}

.login_button:disabled {
  background-color: rgba(255, 255, 255, 0.24);
}

.login_help {
  position: relative;
  width: 100%; max-width: 300px;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  text-align: center;
  color: rgba(255, 255, 255, 0.50);
}